body{
    background-color:black;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1{
	text-align: center;
	font-family: 'Bebas neue';
	font-size: 60px;
    color: rgb(220, 221, 215);
}
button{
	background-color: transparent;
	border-color: transparent;
	box-shadow: transparent;
	border-radius: 10px;
	font-family: monospace;
    color:rgb(220, 221, 215);
}
button:hover{
	animation-name: color;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
@keyframes color{
	100%{
		background-color: #babaad;
	}
}
nav{
    text-align: center;
}


#icon{
	width: 15rem;
	height: 15rem;
	border-width: 2px;
	border-style: solid;
	border-color: #5f6678;
	margin: 0px 10px 10px 0px;
}